* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font: 14px/21px 'Helvetica Neue', Arial, sans-serif;
	padding-top: 61px;
}

body header {
	padding: 20px 40px;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 20;
	background-color: rgba(255, 255, 255, 0.8);
}

section article {
	position: relative;
}

section article hgroup {
	max-height: 500px;
	cursor: pointer;
	padding: 80px 40px;
}

section article hgroup h1,
section article hgroup h2 {
	padding: 20px 0 10px;
	font-size: 22px;
	font-weight: normal;
}

section article:nth-child(1) hgroup { background-color: blue; }
section article:nth-child(2) hgroup { background-color: yellow; }
section article:nth-child(3) hgroup { background-color: green; }
section article:nth-child(4) hgroup { background-color: orange; }
section article:nth-child(5) hgroup { background-color: red; }

section article .content {
	max-height: 0px;
	padding: 0 40px;
	opacity: 0;
}

section article:last-child .content {
	margin-top: -40px;
}

section article .content p {
	height: 0;
}

section article.active {
	z-index: 10;
	padding-top: 262px;
}

section article.active hgroup {
	margin-top: -262px;
}

section article.active hgroup.sticky {
	margin-top: 0;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
}

section article.active .content {
	margin-top: 0px;
}

section article.active .content p {
	height: auto;
}

section article hgroup.compact {
	max-height: 160px;
	transition: max-height 0.60s;
}

section article hgroup.compact h2 {
	opacity: 0;
	transition: opcity 0.60s;
}

section article.active .content {
	max-height: 500px;
	opacity: 1;
	padding: 80px 40px;
	transition: padding 0.30s, max-height 0.30s;
}